[submodule "applications/genomeseq/dida-sgx"]
	path = applications/genomeseq/dida-sgx
	url = https://github.com/chathurawidanage/dida-sgx.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
